.App {
    background-image: url('assets/sunny.jpg');
    height: 100vh;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.weather {
    height: 90%;
}

.right {
    background: linear-gradient(0deg, rgba(37,38,38,1) 0%, rgba(87,86,84,1) 100%);
}

.another-location {
    background-color: transparent;
}

.rainy {
    background-image: url('assets/rainy.jpg');
    background-size: cover;
}

.top {
    background-color: transparent;
}
.bottom {
    background: linear-gradient(0deg, rgb(124, 124, 124) 0%, rgba(87,86,84,1) 100%);
}

@media only screen and (orientation:portrait){
    body {
        height: 100vw;
        transform: rotate(90deg);
    }
}